# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 11e12374e2acc0b9c459d0669c9fbd9e610a06475826f8758fb56d886081d1924756b4bc1a0aa90cb1abc8f0dfff414b0b20616d10235ecff5d050a113edfb80

test:
  secret_key_base: ec54d66b282e6c49ad7859b53f0c7f53d3921b2101d72eda01c1e26ce4fe7b93b2fd7e09c715e39e9830749a62b6e7b0f1264023098fc5c4034ef88115701af3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
