<% provide :button_text, t(".save") %>
<div class="yield">
  <h1><%= t ".update_post" %></h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render "form_post" %>
    </div>
  </div>
</div>
