@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variable';
@import 'clean-blog';

body {
  a:link {
    text-decoration: none;
  }
}

.avatar-post {
  border-radius: 100%;
  height: 80px;
  margin-left: -90px;
  position: absolute;
  width: 80px;
}

.box-post {
  position: relative;
}

.post-title {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  margin: 0;
}

.dropdown-menu {
  background-color: $gray-light;
  border: 0;
  min-width: 121px;
}

.banner-home {
  background-image: url('/assets/banner.jpg');
}

.banner-contact {
  background-image: url('/assets/contact.jpg');
}

.banner-posts {
  background-image: url('/assets/posts.jpg');
}

.post {
  color: $black;
}

.yield {
  padding-top: 100px;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}

.navbar-custom .navbar-brand {
  color: $blue;
}

.navbar-custom .nav li a {
  color: $blue;
}

.avatar {
  border-radius: 100%;
  height: 150px;
  width: 110px;
}

.create-post {
  border-radius: .25rem;
}

.post-meta {
  color: $gray;
  font-size: 18px;
  font-style: italic;
  margin: 0 0 10px;
}

.button_text {
  border-radius: .25rem;
  border: 1px solid transparent;
  display: inline-block;
  font-size: .875rem;
  font-weight: 400px;
  line-height: 1.25;
  padding: .5rem 1rem;
  text-align: center;
  transition: all .2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 60px;
}

.user-name {
  color: $blue;
  font-size: 20px;
  margin-bottom: 0;
  padding-top: 5px;

  a {
    color: $blue;
  }
}
